.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.formContainer {
    width: 400px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--bgSoft);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.form-container h2 {
text-align: center;
margin-bottom: 20px;
}

.form-container form {
display: grid;
gap: 10px;
}

.form-container label {
font-weight: bold;
}

.form-container input,
.form-container select {
width: 100%;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}

.form-container button[type="submit"] {
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #007bff;
color: #fff;
cursor: pointer;
transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
background-color: #0056b3;
}

.formText {
  text-align: center;
}

.formTextHeader {
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
  padding: 5px;
}

.formLabel {
  font-weight: normal;
}

.formInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formSelect {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 50px;
}

.formButton:hover {
  background-color: #0056b3;
}
