/* AssetHeader.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.leftHeader {
    margin: 5px;
}
  
.rightHeader {
    margin: 5px;
}

.optionButton {
    margin: 5px;
    padding: 5px;
}
  